---
layout: default
title: Blog
description: Blog de Joan Medina Roca. Escriptura creativa, històries curtes, novel·la i articles d'opinió.
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url | absolute_url }}"> {{ post.title }} </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
  <a
    class="pagination-item older"
    href="{{ paginator.next_page_path | absolute_url }}"
    >Anterior</a
  >
  {% else %}
  <span class="pagination-item older">Anterior</span>
  {% endif %} {% if paginator.previous_page %} {% if paginator.page == 2 %}
  <a class="pagination-item newer" href="{{ '/' | absolute_url }}">Següent</a>
  {% else %}
  <a
    class="pagination-item newer"
    href="{{ paginator.previous_page_path | absolute_url }}"
    >Següent</a
  >
  {% endif %} {% else %}
  <span class="pagination-item newer">Següent</span>
  {% endif %}
</div>
